<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
          </ion-buttons>
      <ion-title>{{ID}}さんの記事</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
<div *ngIf="!kiji" style="text-align: center;">
  <ion-spinner></ion-spinner>
  <p>読み込み中</p>
</div>
      <ion-list *ngIf="kiji">
          <ion-item *ngFor="let kiZ of kiji" (click)="click(kiZ)">
              <ion-label>{{kiZ.title}}</ion-label>
            </ion-item>
        </ion-list>
  
  <div [innerHTML]="spn"></div>
  </ion-content>