<!--
  Generated template for the ViewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<style>
#header {
  background-position: center center;
  background-repeat: no-repeat;
  height: 25vh;
}

ion-fab {
  position: fixed;
  bottom:60px;
  right: 20px;
}
  </style>
<ion-header>
  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
    <ion-fab horizontal="end" vertical="buttom" slot="fixed" edge>
        <button (click)="TNE()" ion-fab>
          <ion-icon name="add"></ion-icon>
        </button>
    </ion-fab>
<div [innerHTML]='bod'>
</div>

</ion-content>
