<!--
  Generated template for the ViewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<style>
  .balloon1-left {
  position: relative;
  display: inline-block;
  /*margin: 1em 0 0em 8px;*/
  border-radius: 0px 30px 30px 30px;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #e0edff;
}
/*
.balloon1-left:before {
  content: "";
  position: relative;
  top: 10%;
  left: -30px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 15px solid #e0edff;
}*/
.balloon1-left p {
  margin: 0;
  padding: 0;
}
#header {
  background-position: center center;
  background-repeat: no-repeat;
  height: 25vh;
}

ion-fab {
  position: fixed;
  bottom:60px;
  right: 20px;
}

  </style>

<ion-header>
  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-fab horizontal="end" vertical="buttom" slot="fixed" edge>
        <button (click)="TNE()" ion-fab>
          <ion-icon [name]="bts"></ion-icon>
        </button>
    </ion-fab>

<div style="text-align: center; width: 100%; height: 100%;">
  <h1>{{title}}</h1>
  <div style="text-align:end;">
  <p>
      最終更新:
      {{updated}}
      </p>
  <hr>
<div [ngStyle]="myStyles" [innerHTML]='bod'>
</div>
</div>

<hr>
<div style="text-align: start;color: #606060;">
<h3>コメント</h3>
<div *ngIf="!comment">
  <h4>端末がオフラインです。</h4>
</div>
<div *ngIf="comment == 0">
    <h4>この記事にはコメントがありません。</h4>
  </div>
  
<div *ngFor="let comments of comment" style="display:flex;">
<img [src]=comments.user.profile_image_url style="border-radius: 50px; width: 60px; height: 60px;">
<div style="display:grid">
<h5>　{{comments.user.id}}</h5>
<div class="balloon1-left" [innerHTML]="comments.rendered_body">
  </div>
  </div>
</div>
</div>

<hr>
<div [ngStyle]="goodstyle">
    <ion-icon name="thumbs-up"></ion-icon>
    {{Likecount}}
</div>

<button [ngStyle]="tagstyle" *ngFor="let tags of tag" (click)="ta(tags.name)">{{tags.name}}</button>
<a [href]="url" ion-button><ion-icon name="open"></ion-icon></a>

<div (click)=userinfo()>
    <img style="border-radius: 100px; width: 50px; height: 50px;" [src]="PFIU">
    <h5 style=" color: #2557D6; text-decoration: none;">{{name}}</h5>
     <p style="text-decoration: none; color: #2557D6;">{{userdesc}}</p>
</div>

</div>

</ion-content>
