
<ion-tabs swipe-back-enabled="true">

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="search"></ion-icon>
      <ion-label>検索</ion-label>
    </ion-tab-button>

    <ion-tab-button selectedIndex="" tab="tab2">
      <ion-icon name="home"></ion-icon>
      <ion-label>ホーム</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="folder-open"></ion-icon>
      <ion-label>保存済み</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
<!--
<ion-tabs swipe-back-enabled="true" [selectedIndex]="1">
    <ion-tab-bar slot="bottom">
  <ion-tab [root]="tab2Root" tabTitle="検索" tabIcon="search"></ion-tab>
  <ion-tab [root]="tab1Root" selectedIndex="" tabTitle="ホーム" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="保存済み" tabIcon="folder-open"></ion-tab>
  </ion-tab-bar>
</ion-tabs>
-->