<ion-header>
  <ion-navbar>
    <ion-title>ホーム</ion-title>
  </ion-navbar>
</ion-header>
<style>
  .custom-skeleton ion-skeleton-text {
  line-height: 13px;
}

.custom-skeleton ion-skeleton-text:last-child {
  margin-bottom: 5px;
}
  </style>
<ion-content padding>
    <ion-refresher
    (ionRefresh)="ge($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
    <ion-list>
        <ion-item *ngFor="let kiZ of kiji" (click)="click(kiZ.rendered_body)">
            <ion-label>{{kiZ.title}}</ion-label>
          </ion-item>
      </ion-list>


      <div *ngIf="!kiji" style="text-align: center;">
          <ion-spinner name="dots"></ion-spinner>
         <p>読み込み中...</p>
         <ion-list>
            <ion-list-header>
              <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
            </ion-list-header>
            <ion-item>
              <ion-avatar slot="start">
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-avatar>
              <ion-label>
                <h3>
                  <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                </h3>
                <p>
                  <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                </p>
                <p>
                  <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                </p>
              </ion-label>
            </ion-item>
            </ion-list>
  </div>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="ge($event)">
      <ion-infinite-scroll-content
        loadingSpinner="dots"
        loadingText="読み込み中...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
